.button {
  .buttonIcon {
    // width: 13px;
    // height: 10px;
    // font-size: 10px;
    // line-height: 10px;
    // display: inline-block;
    // color: rgb(255, 255, 255);
    //transition: all 0.3s ease-in-out;
    margin-right: 35px;

    &:only-child {
      margin-right: 0;
    }
  }
}

.floatLeft {
  float: left;
}
