$font-family-base: iransans, 'Vazir', 'Segoe UI', 'HelveticaNeue-Light',
  sans-serif;
$brand-color: #61dafb;

$max-content-width: 1140px;
$max-content-width-lg: 960px;
$max-content-width-md: 720px;
$max-content-width-sm: 540px;

$screen-xs-min: 'min-width: 576px';
$screen-sm-min: 'min-width: 768px';
$screen-md-min: 'min-width: 992px';
$screen-lg-min: 'min-width: 1200px';
$screen-xl-min: 'min-width: 1600px';

$screen-mobile: 'max-width: 575px';
$screen-tablet: 'max-width: 767px';
$screen-desktop: 'max-width: 991px';
$screen-laptop: 'max-width: 1199px';
$screen-lgDesktop: 'max-width: 1599px';
