.ArtistHeader_info {
  height: 100%;

  Button {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  h1,
  h2,
  h4 {
    margin: 0;
    color: #fff;
  }
  h1,
  h2 {
    font-weight: bold;
  }
  h1 {
    font-family: 'Caveat', sans-serif;
    font-weight: bold;
    font-size: 50px;
  }
  h4 {
    margin-bottom: 10px;
  }
}

.ArtistHeader {
  min-height: 50vh;
  background-repeat: no-repeat !important;
  background-position: 50% 0 !important;
  background-size: cover !important;
  object-fit: cover;
  padding: 50px;

  @media (max-width: 768px) {
    padding: 70px 50px 30px;
  }
}

.artistHeader_cover {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

.artistHeader_cover__inner {
  width: 200px;
  height: auto;
  border-radius: 10px;
}

.ArtistHeader_cover {
  width: 180px;
  height: 200px;
  border-radius: 5px;
}

.artistHeader_info {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  padding: 0 15px;
  h1,
  h2,
  h4 {
    margin: 0;
    margin-bottom: 5px;
    color: #f7f7f7;
    text-align: center;
  }

  h4 {
    margin-bottom: 15px;
  }
}

.buttonIcon {
  margin-left: 5px;
}
