.cassetteBackground {
  width: 100%;
  background-image: linear-gradient(to right, #00000075, #0000009a),
    url(/backgroundCassette.jpg);
  height: 80vh;
}

h1 {
  color: #dbdbdb;
  text-align: center;
}

h6 {
  color: #f7f7f7;
  text-align: center;
  margin-bottom: 20px;
}

button {
  &:disabled {
    background-color: #ed215d !important;
    color: #fff !important;
  }
  .buttonIcon {
    margin-right: 25px;
    vertical-align: middle;

    &:only-child {
      margin-right: 0;
    }
  }
}

.socials {
  > * {
    margin: 0 10px;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    > * {
      margin: 0 2px;
    }
  }
}
